USE [andicator]
GO

/****** Object:  Table [dbo].[REFERENCECYCLE]    Script Date: 06/17/2016 08:38:10 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[REFERENCECYCLE](
	[ID] [numeric](18, 0) NOT NULL IDENTITY(1,1) ,
	[FIRSTREFERDATE] [datetime] NOT NULL,
	[FIRSTFROMUSERID] [numeric](18, 0) NOT NULL,
	[FIRSTTOUSERID] [numeric](18, 0) NOT NULL,
	[SECONDREFERDATE] [datetime] NOT NULL,
	[SECONDFROMUSERID] [numeric](18, 0) NOT NULL,
	[SECONDTOUSERID] [numeric](18, 0) NOT NULL,
	[LETTERID] [numeric](18, 0) NOT NULL,
	[ACTION] [numeric](18, 0) NULL,
	[ACTIONDESCRIPTION] [varchar](1000) NULL,
	[ARCHIVE] [tinyint] NULL
 CONSTRAINT [PK_REFERENCECYCLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

