USE [andicator];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
ALTER TABLE [dbo].[USERS] ADD [ACTIVE] tinyint NULL
GO
USE [andicator];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
ALTER VIEW [dbo].[VIEW_USERS]
AS
SELECT     ID, NAME, FAMILY, USERNAME, PASSWORD, USERTYPE, LETTERPATTERNID, 
                      (CASE WHEN USERS.USERTYPE = 1 THEN 'مدیر' WHEN USERS.USERTYPE = 2 THEN 'کاربر' WHEN USERS.USERTYPE = 3 THEN 'کاربر اصلی' END) 
                      AS USERTYPE_DESC, ACTIVE
FROM         dbo.USERS
GO
update USERS SET ACTIVE =1
GO