USE [andicator];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
ALTER TABLE [dbo].[LETTER] ADD [FASTACTION] tinyint NULL
GO
USE [andicator];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
ALTER VIEW [dbo].[VIEW_LETTER]
AS
SELECT     TOP 100 PERCENT (CASE WHEN REFFERDATE < GETDATE() - CAST('1900-01-04' AS DATETIME) THEN '*' END) AS STAR, dbo.LETTER.ID, 
                      dbo.LETTER.LETTERNUMBER, dbo.LETTER.LETTERDATE, dbo.LETTER.LETTERSUBJECT, dbo.LETTER.INPUTREGISTERNUMBER, 
                      dbo.LETTER.SUMMARY, dbo.LETTER.INSURANCETYPEID, dbo.LETTER.INSURANCENUMBER, dbo.LETTER.LETTERSTATEID, 
                      dbo.LETTER.COMPANYID, dbo.LETTER.USERREPLYID, dbo.LETTER.LETTERTYPE, dbo.LETTER.CANCEL, 
                      BI1.DESCRIPTION + '(' + dbo.LETTER.INSURANCENUMBER + ')' AS INSURANCETYPEID_DESC, BI2.DESCRIPTION AS LETTERSTATEID_DESC, 
                      U.NAME + ' ' + U.FAMILY AS REFERENCEUSERID_DESC, BI3.COMPANYNAME AS COMPANYID_DESC, dbo.LETTER.INSURANCEDATE, 
                      dbo.LETTER.RECIEVEDLETTERNUMBER, dbo.LETTER.RECIEVEDLETTERDATE, dbo.LETTER.ARCHIVE, dbo.LETTER.COLOR, 
                      dbo.LETTER.FINALCONFIRM, U.ID AS EXPR1, dbo.USERTREE.ID AS EXPR2, dbo.USERTREE.USERID AS REFERENCEUSERID, 
                      dbo.LETTER.USERTREEID, dbo.LETTER.INSURANCECOMPANY, dbo.LETTER.AGENTID, dbo.LETTER.REFFERDATE, dbo.LETTER.REFFERFROM, 
                      U2.NAME + '  ' + U2.FAMILY AS REFFERFROM_DESC,
                      (CASE LETTERTYPE WHEN 2 THEN 'صارده' WHEN 1 then 'وارده' ELSE 'ناشناس' END)as LETTERTYPE_DESC,
                      dbo.LETTER.FASTACTION
FROM          dbo.BASICINFO AS BI1 RIGHT OUTER JOIN
                      dbo.USERTREE RIGHT OUTER JOIN
                      dbo.LETTER LEFT OUTER JOIN
                      dbo.USERS AS U2 ON dbo.LETTER.REFFERFROM = U2.ID ON dbo.USERTREE.ID = dbo.LETTER.USERTREEID ON 
                      BI1.ID = dbo.LETTER.INSURANCETYPEID LEFT OUTER JOIN
                      dbo.BASICINFO AS BI2 ON dbo.LETTER.LETTERSTATEID = BI2.ID LEFT OUTER JOIN
                      dbo.COMPANY AS BI3 ON dbo.LETTER.COMPANYID = BI3.ID LEFT OUTER JOIN
                      dbo.USERS AS U ON dbo.USERTREE.USERID = U.ID
ORDER BY dbo.LETTER.LETTERNUMBER, dbo.LETTER.LETTERDATE
GO
