
USE [andicator];
GO

USE [andicator];
GO
ALTER VIEW [dbo].[VIEW_CHEQUE]
AS
SELECT     dbo.CHEQUE.ID, dbo.CHEQUE.MATURITYDATE, dbo.CHEQUE.ENTRYDATE, dbo.CHEQUE.BANKID, dbo.CHEQUE.PRICE, 
                      dbo.CHEQUE.ACCOUNTNUMBER, dbo.CHEQUE.ACCOUNTHOLDERNAME, dbo.CHEQUE.DESCRIPTION, 
                      BASICINFO_1.DESCRIPTION AS BI_BANK_DESCRIPTION, dbo.CHEQUE.CHEQUENUMBER, dbo.CHEQUE.REGISTRANTUSER, 
                      dbo.CHEQUE.REGISTERDATE, dbo.CHEQUE.PAYTYPE, dbo.CHEQUE.INSURANCECOMPANY, dbo.CHEQUE.INSURANCENUMBER, 
                      dbo.BASICINFO.DESCRIPTION AS INSURANCECOMPANY_DESC, (CASE PAYTYPE WHEN 0 THEN 'چک' WHEN 1 THEN 'نقد' END) AS PAYTYPE_DESC, 
                      dbo.CHEQUE.ARCHIVE, dbo.CHEQUE.USERTREEID, U.NAME + ' ' + U.FAMILY + '(' + U.USERNAME + ')' AS USERNAME, U.ID AS REFERENCEUSERID,
                          (SELECT     dbo.CHEQUE.PRICE - SUM(PRICE) AS EXPR1
                            FROM          dbo.CHEQUEREPLY
                            WHERE      (CHEQUEID = dbo.CHEQUE.ID)) AS REMAINED, dbo.CHEQUE.COLOR, dbo.CHEQUE.COMPANYID, dbo.COMPANY.COMPANYNAME
FROM         dbo.CHEQUE LEFT OUTER JOIN
                      dbo.COMPANY ON dbo.CHEQUE.COMPANYID = dbo.COMPANY.ID LEFT OUTER JOIN
                      dbo.USERTREE ON dbo.CHEQUE.USERTREEID = dbo.USERTREE.ID LEFT OUTER JOIN
                      dbo.USERS AS U ON dbo.USERTREE.USERID = U.ID LEFT OUTER JOIN
                      dbo.BASICINFO ON dbo.CHEQUE.INSURANCECOMPANY = dbo.BASICINFO.ID LEFT OUTER JOIN
                      dbo.BASICINFO AS BASICINFO_1 ON dbo.CHEQUE.BANKID = BASICINFO_1.ID
                      
Go                      